---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>

<Content
    id="about"
    image={{
      src: 'https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The Groom: Mark Powers</h2>
      <p>
        First paragraph on Mark
      </p>
      <br />
      <p>
        Second paragraph on Mark
      </p>
      <br />
      <p>Third paragraph on Mark</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 <Content
    isReversed
    isAfterContent
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content"><h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The Bride: Christina Bejjani</h2>
      <p>
        First paragraph on Christina
      </p>
      <br />
      <p>
        Second paragraph on Christina
      </p>
      <br />
      <p>Third paragraph on Mark</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


</Layout>
