---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>

<Content
    id="about"
    image={{
      src: '~/assets/images/mark.jpg',
      alt: 'Mark Powers',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The Groom: Mark Powers</h2>
      <p>
        Mark is an <a href="https://www.16personalities.com/entj-personality" target="_blank">ENTJ</a>, <a href="https://www.allure.com/story/leo-zodiac-sign-personality-traits" target="_blank">Leo</a> U.S. Navy Veteran who served as a cryptologist from 2012 to 2016, largely deployed to the Middle East and trying to make his stepdad proud. As part of his service, Mark has traveled to Georgia, Florida, the UK, Bahrain, and Dubai. He graduated with a bachelors of science in electrical and computer engineering and a masters of science in systems engineering from Loyola Marymount University. He currently works as a Lead Systems Engineer at an aerospace and defense company.
      </p>
      <br />
      <p>
        On his dating profile, Mark listed liking the following: hiking, cooking, playing video games, watching anime, watching movies, going to art walks/museums, playing board games, traveling domestically or internationally whenever the chance becomes available, working on complex projects, and just overall hanging out outside or inside. He also said that he was hopelessly bad at dancing ("Yet it doesn't stop me from dancing and having fun. I've been told I dance like a stiff robot.") and snowboarding ("I recently went for the first time this year and it was really hard to stand up once you fell down."). He listed playing the piano as something new he wanted to try, being in the process of learning.
      </p>
      <br />
      <p>
        He has a nine-year-old cat, Gravy, and a nine-year-old dog, Biscuit. His hamster, Turkey, passed away. They aren't Thanksgiving themed, but are spoiled brats.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 <Content
    isReversed
    image={{
      src: '~/assets/images/christina.jpg',
      alt: 'Christina Bejjani',
      loading: 'eager',
    }}
  >
    <Fragment slot="content"><h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The Bride: Christina Bejjani</h2>
      <p>
        Christina is "bright-eyed and bushy-tailed" according to a sketchy cab driver and "sunshine-y" according to a coworker and good friend. A <a href="https://www.allure.com/story/sagittarius-zodiac-sign-personality-traits" target="_blank">Sagittarius</a>, possible <a href="https://www.16personalities.com/infj-personality" target="_blank">INFJ</a> or <a href="https://www.16personalities.com/infp-personality" target="_blank">INFP</a>, she earned a bachelors of arts in neuroscience with a minor in English literature from Pomona College and worked briefly as a research assistant at UCLA before becoming a lab manager at Rutgers-Newark; afterwards, she earned her PhD in cognitive psychology (with certificates in college teaching and cognitive neuroscience) from Duke University. She currently works in data science within the tech industry.
      </p>
      <br />
      <p>
        On her dating profile, she listed liking the following: road trips, hiking, novels, SFF, movies, Broadway musicals, sitcoms, basketball, scrapbooking, swimming, being outdoors, video and board games, karaoke, photography, science, cats, traveling, writing, reading, trying new experiences, and being silly, sassy, and serious. Rather than writing about what she was hopelessly bad at, she answered the question on one thing she loved about herself: "Someone recently said to me, 'I feel like you're always laughing, and I want to be in on the joke.'"
      </p>
      <br />
      <p>
        Although Gravy is an anxious cat, the first time he met Christina, he actually approached her rather than hiding.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


</Layout>
