---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>

<Content
    image={{
      src: '~/assets/images/eldred.jpg',
      alt: 'Eldred Powers, Jr.',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Man of Honor: Eldred Powers, Jr.</h2>
      <p>
        Text
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 <Content
    isReversed
    image={{
      src: '~/assets/images/jason.jpg',
      alt: 'Jason Shao',
      loading: 'eager',
    }}
  >
    <Fragment slot="content"><h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Groomsman: Jason Shao</h2>
      <p>
        Text
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    image={{
      src: '~/assets/images/oscar.jpg',
      alt: 'Oscar Gonzalez',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Groomsman: Oscar Gonzalez</h2>
      <p>
        Text
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 <Content
    isReversed
    image={{
      src: '~/assets/images/anthony.jpg',
      alt: 'Anthony Bejjani',
      loading: 'eager',
    }}
  >
    <Fragment slot="content"><h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Groomsman: Anthony Bejjani</h2>
      <p>
      Text
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

<Content
    image={{
      src: '~/assets/images/john.jpg',
      alt: 'John Bejjani',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Groomsman: John Bejjani</h2>
      <p>
        Text
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 <Content
    isReversed
    image={{
      src: '~/assets/images/patrick.jpg',
      alt: 'Patrick Saldivar',
      loading: 'eager',
    }}
  >
    <Fragment slot="content"><h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Groomsman: Patrick Saldivar</h2>
      <p>
      Text
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    image={{
      src: '~/assets/images/jack.jpg',
      alt: 'Jack Riley',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Groomsman: Jack Riley</h2>
      <p>
        Text
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 <Content
    isReversed
    image={{
      src: '~/assets/images/james.jpg',
      alt: 'James Bejjani',
      loading: 'eager',
    }}
  >
    <Fragment slot="content"><h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Groomsman: James Bejjani</h2>
      <p>
      Text
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

<Content
    image={{
      src: '~/assets/images/princeton.jpg',
      alt: 'Princeton Legree',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Officiant: Princeton Legree</h2>
      <p>
        Text
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

 <Content
    isReversed
    image={{
      src: '~/assets/images/gravy.jpg',
      alt: 'Gravy Theodore',
      loading: 'eager',
    }}
  >
    <Fragment slot="content"><h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Honorary: Gravy Theodore</h2>
      <p>
      Gravy needs no introductions. He is the best cat to ever exist.
      </p>
      <br />
      <p>
      I’m sorry, but did Gravy write this intro? Looks like someone needs a time-out.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
