---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Bejjani Powers Wedding',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    image={{ src: '~/assets/images/flowers_four.png', alt: 'Flowers' }}
  >
    <Fragment slot="title">
      Welcome to the <span class="text-accent dark:text-white highlight">Bejjani Powers</span> Wedding website!
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">We</span> are so glad that you've decided to join us on our big day, May 3, 2025.</span>
    </Fragment>
  </Hero>

  <!-- timer idea at https://mbianoubradon.medium.com/how-to-build-a-countdown-component-using-tailwindcss-and-javascript-fb2d365d6540 -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="A sneak preview"
    title="How it all started"
    items={[
      {
        title: 'A visit to Seattle',
        description:
          'In January 2022, Christina and her friend, Roxy, visited their friends, Leena and Becky, in Seattle. Leena was engaged to her now husband, Calder, and had met him via Coffee Meets Bagel, so Christina looked into that app. Although Christina joined sometime in February, she didn’t take her search seriously, since she was about to start looking for a new job. By the time May hit, she had many interview prospects and considered dating.',
      },
      {
        title: 'Advice from a friend',
        description:
          'Separately, Mark asked his friend Princeton about the best dating app for a long-term relationship. He joined sometime in April.',
      },
      {
        title: 'No looking back',
        description:
          'Mark liked Christina’s profile. They subsequently matched and began chatting on May 22, 2022. Their first date was on June 13, 2022; they got engaged on January 13, 2024; they were privately married at Our Lady of Mt. Lebanon Church on August 3, 2024; and they are looking forward to celebrating with everyone on May 3, 2025.',
      },
    ]}
    image={{
      src: '~/assets/images/testing-new 328.JPG', alt: 'Mark and Christina' 
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">One Dating App to Rule Them All</h3>
      Mark and Christina met via Coffee Meets Bagel.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="For our friends and family who have questions, please check out our Q & A first!"
    id="FAQs"
    tagline="FAQs"
    columns={1}
    items={[
      {
        title: 'When is the RSVP deadline?',
        description:
          "Our RSVP deadline is March 15th, 2025. Thank you for understanding.",
      },
      {
        title: 'Can I bring a plus one?',
        description:
          "If your guest's name is listed when you RSVP, then yes. Otherwise, we are unable to accommodate for extra guests. Thank you for understanding.",
      },
      {
        title: 'Can I bring my children?',
        description:
          "Unless your children are listed when you RSVP to the event, we appreciate you making prior arrangements and encourage you to use this evening as a night out for yourself.",
      },
      {
        title: "Is the wedding indoors or outdoors?",
        description:
          "The wedding ceremony is outdoors with a beautiful archway under which we will take photos. The reception itself is indoors, but the room we booked also has a patio space for those of you interested in stepping outside for fresh air.",
      },
      {
        title: 'What should I wear?',
        description:
          "We’ll be at Castaway restaurant for the entire ceremony and reception, so the attire is formal or black tie. For men, this means suits and ties; for women, long evening dresses or formal cocktail dresses are appropriate. Our colors are blue (Dusty Blue + Slate Blue), green (Sage + Eucalyptus), pink (English rose + Mulberry), and purple (Lavender + Amethyst). We love the idea of seeing our guests dressed in these colors or not in these colors; feel free to wear whatever makes you feel comfortable and elegant.",
      },
      {
        title: 'Can I take pictures with my phone and camera during the wedding?',
        description:
          "We would love for you to take photos and share them with us (by phone and IG: @chbejjani, @markgroverpowers). However, please refrain from taking photos with your flash on, since this may distract our photographer.",
      },
      {
        title: 'Is transportation being provided between the reception and hotel?',
        description:
          "The hotel block is at the Hilton Garden Inn in Burbank. Unfortunately, they do not provide a shuttle to Castaway, but it is only a 2.6 mile drive, and we are happy to facilitate an email or text chain with those of you staying at the hotel, so you can coordinate ride-sharing and/or carpooling.",
      },
      {
        title: 'Where should I park?',
        description:
          "On-site valet parking is available for $9 for the whole night. We have covered this cost for up to 40 cars, so arrive earlier if you can.",
      },
      {
        title: 'Are the ceremony and reception locations wheelchair accessible?',
        description:
          "Yes, when you drive up the hill to the restaurant, the entrances to both the ceremony and reception have wheelchair accessible ramps.",
      },
    ]}
  />
</Layout>
