---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';

const metadata = {
  title: 'Bejjani Powers Wedding',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    image={{ src: '~/assets/images/flowers.png', alt: 'Wildflowers' }}
  >
    <Fragment slot="title">
      Welcome to the <span class="text-accent dark:text-white highlight">Bejjani Powers</span> Wedding website!
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">We</span> are so glad that you've decided to join us on our big day, May 3, 2025.</span>
    </Fragment>
  </Hero>
  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="A sneak preview"
    title="How it all started"
    items={[
      {
        title: 'A visit to Seattle',
        description:
          'In late January 2022, Christina, with her friend Roxy, visited their friends Leena and Becky in Seattle, Washington. Leena was engaged to her now husband, Calder, and had met him via Coffee Meets Bagel, so Christina decided to look into that app. Although Christina joined sometime in February, she didn’t take her search seriously, since she was about to start looking for a new job. By the time May hit, she had several interview prospects and considered dating.',
      },
      {
        title: 'Advice from a friend',
        description:
          'Separately, Mark was looking for a long-term relationship and asked his friend Princeton about the best dating app suited to that purpose. He joined sometime in April.',
      },
      {
        title: 'No looking back',
        description:
          'Mark liked Christina’s profile. They subsequently matched and began chatting on May 22, 2022. Their first date was on June 13, 2022.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">One Dating App to Rule Them All</h3>
      Mark and Christina met via Coffee Meets Bagel.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="For all our friends and family who have lots of questions, please check out our Q & A first!"
    tagline="FAQs"
    classes={{ container: 'max-w-8xl' }}
    items={[
      {
        title: 'When is the RSVP deadline?',
        description:
          "Invitations haven't yet been formally sent out, so you don't need to worry about the deadline.",
      },
      {
        title: 'Can I bring a plus one?',
        description:
          "Please hold off on requesting any +1s until we've sent out invitations. Once they are out, you can feel free to request a +1.",
      },
      {
        title: 'Can I bring my children?',
        description:
          "Unless your children are listed when you RSVP to the event, we appreciate you making prior arrangements and encourage you to use this evening as a night out for yourself.",
      },
      {
        title: "Is the wedding indoors or outdoors?",
        description:
          "The wedding ceremony is outdoors. Afterwards, we plan to take photos underneath the beautiful archway. The reception itself is indoors, but the room we booked also has a patio space for those of you interested in stepping outside for fresh air.",
      },
      {
        title: 'What should I wear?',
        description:
          "We’ll be at Castaway restaurant for the entire ceremony and reception, so think of this as a semi-formal or black tie event.",
      },
      {
        title: 'Can I take pictures with my phone and camera during the wedding?',
        description:
          "We would love for you to take photos and share them with us (IG: @chbejjani, @markgroverpowers). However, please refrain from taking photos during the ceremony with your flash on, since this may distract our photographer.",
      },
      {
        title: 'Is transportation being provided between the reception and hotel?',
        description:
          "The hotel block is at the Hilton Garden Inn in Burbank. They should provide a shuttle up the hill to Castaway.",
      },
      {
        title: 'Where should I park?',
        description:
          "On-site valet parking is available for $9 for the whole night.",
      },
      {
        title: 'Are the ceremony and reception locations wheelchair accessible?',
        description:
          "Yes, when you drive up the hill to the restaurant, the entrances to both the ceremony and reception have wheelchair accessible ramps.",
      },
    ]}
  />

</Layout>
