---
import Layout from '~/layouts/PageLayout.astro';
import Steps from '~/components/widgets/Steps.astro';

const metadata = {
  title: 'Wedding Schedule',
};
---

<Layout metadata={metadata}>

  <Steps
    title="Sat, May 3, 2025 Schedule"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Ceremony, 5:00 pm - ~5:30 pm</span>',
        description:
          "We'll be in the outdoors Ceremony space. Since we're already married, our ceremony, as officiated by Princeton, shouldn't last longer than 30 minutes. We have the Ceremony space booked until 6:00 p.m., so afterwards, we'll be taking photos with immediate family and the wedding party.",
        icon: 'tabler:square-number-1',
      },
      {
        title: 'Step 2: <span class="font-medium">Cocktail Hour, ~5:30 pm - 7:00 pm</span>',
        description:
          "While we take photos until 6:00 p.m., everyone else should attend cocktail hour on the patio. Welcome champagne will be served, as will our appetizers. Our mariachi band will play. We also plan to open our photobooth so that anyone who did not get photos with us earlier can do so after 6 pm. At around 6:45 p.m., we'll usher everyone indoors to their tables, where bread and butter as well as the first salad course will be served.",
        icon: 'tabler:square-number-2',
      },
      {
        title: 'Step 3: <span class="font-medium">Zaffe, Dinner, Dances, Speeches, ~7:00 pm - 8:30 pm</span>',
        description:
          "The wedding party will enter the reception around 7:00 p.m. We'll dance with the zaffe and then proceed with our first dance. After the salad course, everyone will have their entree course. At this time, we'll give a speech and ask the folks giving speeches to do so as well. We'll then proceed with our mother/son, father/daughter, and perhaps mother/daughter dances to open the dance floor.",
        icon: 'tabler:square-number-3',
      },
      {
        title: 'Step 4: <span class="font-medium">Dance, dance, dance, ~8:30 pm = 12:00 am</span>',
        description: 
          "We have the venue until midnight. We'll have other meal stations for folks who get hungry later and likely cut the cake around 10:30 pm, offering fruit as a healthy alternative for those who may not want cake. The photobooth will still be open, as will our dance floor. So, let's have some fun.",
        icon: 'tabler:square-number-4',
      },
    ]}
    image={{
      src: '~/assets/images/mark_and_christina.jpg',
      alt: 'Wedding Day Schedule',
    }}
  />

</Layout>
