---
import Layout from '~/layouts/PageLayout.astro';

import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'Travel',
};
---

<Layout metadata={metadata}>

  <Content
    title="Getting Here"
    subtitle="Fly into LAX or Burbank, stay at the Burbank hotel block or elsewhere."
    isReversed
    items={[
      {
        title: 'Travel:',
        description:
          "You can fly into either LAX or Burbank airports, or take a train to Union Station. If you do go to Union Station or LAX, note that you may want to rent a car for travel around LA and to the venue later.",
        icon: 'tabler:rocket',
      },
      {
        title: 'Hotel:',
        description:
          "Our hotel block is with the Hilton Garden Inn in Burbank (book here); it is 2.6 miles from the venue.",
        icon: 'tabler:home-star',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1658248165252-71e116af1b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80',
      alt: 'Tech Design Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Step 1: <br /><span class="text-2xl">Deciding where to stay</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Things to Do"
    subtitle="Los Angeles Version"
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Food',
        description: "Los Angeles is the hub for many great restaurants. You can check our full list of restaurants tried here and add it to your Google maps <a href="https://support.google.com/mymaps/answer/3024836?hl=en&co=GENIE.Platform%3DDesktop" target="_blank">here</a>.",
      },
      {
        title: 'Agriculture',
        description: "California has the fifth highest GDP in the world, in part due to its agriculture and varied climate. While here, visit a farm (e.g., <a href="https://secretlosangeles.com/strawberry-picking-los-angeles/" target="_blank">go strawberry picking</a>). We've been to several, including Tanaka Farm, Cherry Farm, Riley's Orchard, etc.",
      },
      {
        title: 'Concerts, Shows, Plays',
        description: "Los Angeles is full of theaters. We saw Flamenco at the Sabran Theater; Vampire Circus at the Montalban Theater; Cirque du Soleil at the Microsoft Theater. We've watched Aladdin and Les Miserables at the Pantages and celebrated 100 years at the Hollywood Bowl.",
      },
      {
        title: 'Sports',
        description: "LA has lots of sports teams. Watch the Clippers, Lakers, or Sparks (basketball) at Crypto.com arena; watch soccer at <a href="https://www.sofistadium.com/events" target="_blank">SOFI stadium</a>; watch hockey (LA Kings) at crypto.com arena; watch the Dodgers play (baseball).",
      },
      {
        title: 'Hiking',
        description: "One joke about LA dating is that everyone lists hiking as a hobby--for good reason, though. You have the beautiful Santa Monica Mountain hikes, the Los Angeles Forest hikes, the Malibu hikes... Check out AllTrails and pack good shoes.",
      },
      {
        title: 'Water Activities',
        description: "You are right next to the beach. Take advantage of it. Kayak in Marina del Rey or along the LA River, go to the Santa Monica Pier, watch surfers at Zuma, walk the Venice Boardwalk before hanging out at the beach, etc.",
      },
      {
        title: 'Museums',
        description: "So. Many. Museums. Jenn volunteers at the Natural History Museum, and near us is the Getty. There's also the Huntington and the Autry Museum (near LA zoo for family-friendly activity!), among many, many others.",
      },
      {
        title: 'Outdoor Movies',
        description: "LA has great weather, so there are lots of outdoor movie showings, whether at the Hollywood Forever Ceremony, Culver City steps, or more.",
      },
      {
        title: 'Miscellaneous',
        description: "We went to an After Midnight comedy show taping (you're near Hollywood!) and many, many other comedy shows. We've gone horseback riding (Malibu, Hollywood), sky dived (Lake Elsinore), etc. There are board game cafes, mini golf, arcades, bookstores (The Last Bookstore, Village Well, The Ripped Bodice, Skylight Books, Booksoup, and <a href="https://www.timeout.com/los-angeles/books/best-shops-in-la-the-citys-best-independent-booksellers" target="_blank">more</a>), symphonies (Disney Concert Hall), Disneyland, etc.",
      },
    ]}


  />





</Layout>
